<h3>P A M A T S N I</h3>

<!-- Search Tags -->
<%= form_tag '/results', {method: 'get', id: 'search-field', remote: true} do %>
  <div id="location-field">
    <%= label_tag :location %>
    <%= text_field_tag :location, params[:location] %>
  </div>
  <br>
  <div id="hashtag-field">
    <%= label_tag :hashtag %>
    <%= text_field_tag :hashtag, params[:hashtag] %>
  </div>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<div id="map">

</div>

<div id="results">

</div>
